<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".adapter.UserSetting"
        android:icon="@drawable/logonew"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logonew"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.JID">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.Login"/>
        <activity android:name=".views.Maps"  />
        <activity android:name=".views.Realtimelalin"  />
        <activity android:name=".views.Activitiweb"  />
        <activity android:name=".Dashboard"  />
        <activity android:name=".views.Cctv"  />
        <activity android:name=".views.CctvRuas"  />
        <activity android:name=".views.DashboardLalin"  />
        <activity android:name=".views.CctvViewRuas"  />
        <activity android:name=".views.DashboardTransaksi"  />
        <activity android:name=".views.MapsNew"  />
        <activity android:name=".views.DashboardPeralataan"  />
        <activity android:name=".views.DashboardPemeliharaan"  />
        <activity android:name=".views.Antrian"  />
        <activity android:name=".views.RealtimeTraffic"  />
        <activity android:name=".views.ActivityFragment"  />
        <activity android:name=".views.Notification"
            android:parentActivityName=".MainActivity"  />
        <service android:name=".service.FirebaseMessageReceiver"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>